<!--
   filebrowser.html
-->

<div class="content">
  <div>
    <h3>Gespeicherte Zeitrafferaufnahmen</h3>
    <ul class="filelist">
        {% for file in moviefiles %}
            <li>
                <a href="{{ url_for('download', filename=file) }}" download="{{ file }}">{{ file }}</a>
                <form action="{{ url_for('delete', filename=file) }}" method="post" style="display:inline;">
                    <input type="submit" value="X">
                </form>
            </li>
        {% endfor %}
    </ul>
  </div>
  <hr>
  <div>
    <h3>Gespeicherte Sensoraufzeichnungen</h3>
    <ul class="filelist">
        {% for file in sensorfiles %}
            <li>
                <a href="{{ url_for('download', filename=file) }}" download="{{ file }}">{{ file }}</a>
                <form action="{{ url_for('delete', filename=file) }}" method="post" style="display:inline;">
                    <input type="submit" value="X">
                </form>
            </li>
        {% endfor %}
    </ul>
  </div>
</div>