<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nachteule Dashboard</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="static/style.css">
  
  <script>
    function toggleMenu() {
      var x = document.getElementById("myNavbar");
      if (x.className === "navbar") {
        x.className += " responsive";
      } else {
        x.className = "navbar";
      }
    }
  </script>
</head>

<body>

  <!-- Page Header -->
  <div class="header">
    <h2>Nachteule</h2>
  </div>

  <!-- Navigation Bar -->
  <div class="navbar" id="myNavbar">
    <a href="/">Übersicht</a>
    <a href="/timelapse">Zeitraffer</a>
    <a href="/livepage">Live</a>
    <a href="/filebrowser">Dateien</a>
    <!--  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a> -->
  </div>

  <!-- Content Section -->
  {% include content %}
  <hr>
  <div>
    <p>@2023 - {{ nowtime }}</p>
  </div>
</body>

</html>
