<!--
   livepage.html
-->
<div class="content">
  <h3>Nachteule Infrarot Kamera - Live</h3>
  <p>Infrarotlichter sind {%if IRstate %}AN{% else %}AUS{% endif %}.</p>
  <form method="post">
    {%if IRstate %}
      <button name="IRled_state" type="submit" value="IRon">Ausschalten</button>
    {% else %}
      <button name="IRled_state" type="submit" value="IRoff">Einschalten</button>
    {% endif %}
  </form>
  <a href="/">Zur Startseite</a>
  <hr>
      <div id="livestream"><img src="{{ url_for('video_feed') }}"></div>
  <hr>
  <p>@2023 - {{ nowtime }}</p>
</div>