<!--
   timelapse.html
-->

<div class="content">
  <div>
    <h3>Aktuelle Zeitrafferkonfiguration</h3>
      {% for key, value in camsettings.items() %}
        <p>{{ key }}: {{ value }}</p>
      {% endfor %}
  </div>
  {% if camstatus %}
  <div>
    <h3>Zeitrafferaufnahme läuft!</h3>
    <form method="post">
      <button name="abort" type="submit" value="abort">Aufnahme stoppen</button>
    </form>
  </div>
  {% else %}
  <div>
    <h3>Neue Zeitrafferkonfiguration</h3>
      <form method="post">
        {% for key, value in camsettings.items() %}
          <label for="{{ key }}">{{ key }}</label>
          <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}" required>
          <br>
        {% endfor %}
        <input type="submit" name="camsetter" value="Neue Einstellungen übernehmen">
      </form>
  </div>
  <div>
    <h3>Vorschau</h3>
    {% if preview_img %}<img src="{{ preview_img }}">{% endif %}
    <form method="post">
      <button name="preview" type="submit" value="preview">Vorschaubild aufnehmen</button>
    </form>
  </div>
  {% endif %}
  <hr>
  <div>
    <h3>Gespeicherte Zeitrafferaufnahmen</h3>
    <p>placeholder</p>
  </div>
</div>